<div class='row'>
<div class='small-8 large-centered columns'>

<header>
    
    <h3><%= @blog.title %></h3>
    
    
  </header>
  
  <p>
    <%= @blog.content %>
  </p>

  <nav>
    

    <% if current_user %>
    
    <%# end %>
    <%# if correct_user %>
     <% if current_user_admin? %>
      <%= link_to 'Edit', edit_blog_path(@blog), class: 'button' %>
      
      
      <%= link_to 'Delete', @blog, 
                  class: 'button',
                  method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                  <% end %>
    </nav></div></div>