<div class='row'>
  <div class="large-12 large-centered columns small-12 large-centered columns'> form_search">
    <div class='user_main'>
      <h2>Updating <%= @listing.title %></h2>
      <%= render 'form' %>
    </div>
  </div>
</div>

