
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "foundation";

.top-bar{
	background: #fff;
	line-height: 60px;
  height: 60px;
  padding-top: 10px;
  border-bottom: 2px solid #fff; 
}
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px;
  // .fa{
  //   color: #e84d3d;
  // } 
  }
.top-bar .name a {
  font-weight: 900;
  font-size: 2em;
  color: #008cba;
  padding: 0 45px;
  
}


 .top-bar-section {
  font-weight: bold;
  font-size: 1.7em;
  color: #008cba;
  padding: 0 25px;
  background: #fff }

  .top-bar-section li:not(.has-form) a:not(.button){
  	background: #fff;
  	font-weight: normal;
    font-size: 1em;
    color: #008cba;
    font-weight: 900;

  }

  .top-bar-section li:not(.has-form) a:not(.button):hover{
  	background: #fff;
    color: #A8CCED;

  }
.top-bar-section ul li{
	background: #fff;
}
.top-bar-section ul li:hover{
	background: #fff
}
.top-bar .toggle-topbar.menu-icon a {
    height: 35px;
    line-height: 33px;
    padding: 0 40px 0 15px;
    color: white;
    position: relative;
    background-color: #008cba;
}
* {
margin: 0;
}
html, body {
height: 100%;
}
main {
  
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	margin-top: 100px;
}
// footer{
//   width: 100%;
//   margin-bottom: 0;
//   clear: both;
//   bottom: 0;
//   left: 0;
//   border-top: 2px solid #ddd;
//   //font-family: JobInboxFont7, Arial, sans-serif;
//   font-family: 'Enriqueta', serif;
//   .foot{
//     //font-family: JobInboxFont7, Arial, sans-serif;
//     padding: 50px auto;
//     color: #333;
//     padding-top: 20px;
//     padding-bottom: 30px;
//     font-size: 15px;
//     background: #A8CCED;
//   }
// }
footer, .push {
  height: 4em;
  clear: both;
}

.home_image, .push {
clear: both;
}
footer{
  width: 100%;
  height: 120px;
  margin-top: 40px;
  background: #A8CCED;
  border-top: 3px solid #eee;
  margin-bottom: 0;
  clear: both;
  
}
.foot{
  margin-top: 60px;
}

.copy{
  padding-top: 20px;
  color: #3B97B3;
}
.copy span{
  color: #008cba;
  font-size: 1.1em;
  font-weight: bold;
}
.copy a:hover{
  color: #24C9AB;
}
.social{
  padding-top: 10px;
}

@media(max-width:780px) {

   footer {background: #A8CCED; height: 200px}
   
}
@media(max-width:780px) {

   .map_list { display: none;}
   
}


@media(max-width:1030px) {

   footer {background: #A8CCED; height: 200px}
   
}

