/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "foundation";

.top-bar{
	background: #A8CCED;
	line-height: 40px;
}
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px;
  }
.top-bar .name a {
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  padding: 0 45px; }

 .top-bar-section {
  font-weight: bold;
  font-size: 1.7em;
  color: white;
  padding: 0 25px;
  background: #A8CCED; }

  .top-bar-section li:not(.has-form) a:not(.button){
  	background: #A8CCED;
  	font-weight: normal;
    font-size: 1em;

  }

  .top-bar-section li:not(.has-form) a:not(.button):hover{
  	background: #A8CCED;

  }
.top-bar-section ul li{
	background: #A8CCED;
}
.top-bar-section ul li:hover{
	background: #A8CCED;
}

* {
margin: 0;
}
html, body {
height: 100%;
}
main {

	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	margin-top: 70px;
}
footer, .push {
height: 4em;
clear: both;
}

footer{
  width: 100%;
  height: 150px;
  background: #A8CCED;
  margin-bottom: 0;
  border-top: 3px solid #eee;
  clear: both;
}

