.home_image{
  //width: 100%;
  height: 600px;
  // margin: 0;
  background: url('http://s3-us-west-2.amazonaws.com/saidmfola/listings/uploads/000/000/005/large/mnp-h3.jpg?1404252195') no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto;
  margin-top: -25px;
 

}

.wrap{
  position: relative;
  margin-top: 600px;
}

.listing_main{
	border: 2px solid #DAE0DE;
	background: #FCFFFE;
	margin-bottom: 40px;
	border-radius: 5px;
}
.search_home{
	width: 100%;
	height: 140px;
	background: #C7DAED;
	border-radius: 15px;
}
.form_search{
	margin-top: 20px;
	
}
.listing_list img{
	width: 100%;
	height: 180px;
}
.list_all h4{
	height: 40px;
}
.looking{
	color: #559BAB;
	font-size: 1.3em;
}
.tabs{
	border-bottom: 2px solid #DAE0DE;
}
.price{
	width: 300px;
}
.title, li{
	
	margin-right: 40px;
}
.title, h3{
	color: green;	
}
.info{
	width: 600px;
}
.thead{
	width: 150px;
}
.expand{
	width: 280px;
}
.list_all{
	width: 100%;
	max-height: 550px;
	position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: 0;
  margin-top: 40px;
 }
// #map_list{
// 	margin: 0;
// 	padding: 0;
// }
// .list_wrapper{
// 	// width: 100%;
// 	// max-height: 550px;
// 	// float: right;
// 	overflow: auto;
// }
section{
	margin-top: -40px;
	top: 0;
}
.listiing_title{
	min-height: 150px;
	background: #9EC6DB;
	border: 2px solid #9DBDC9;
	border-radius: 20px;
}
.listiing_title1{
	min-height: 150px;
	background: #9EC6DB;
	border: 2px solid #9DBDC9;
	border-radius: 20px;
}
.listiing_title2{
	min-height: 150px;
	background: #9EC6DB;
	border: 2px solid #9DBDC9;
	border-radius: 20px;
}
.listiing_title3{
	min-height: 260px;
	background: #9EC6DB;
	border: 2px solid #9DBDC9;
	border-radius: 20px;
}
.listiing_title4{
	min-height: 150px;
	background: #9EC6DB;
	border: 2px solid #9DBDC9;
	border-radius: 20px;
}
.listiing_title5{
	min-height: 150px;
	background: #9EC6DB;
	border: 2px solid #9DBDC9;
	border-radius: 20px;
}
.listiing_title6{
	min-height: 150px;
	background: #9EC6DB;
	border: 2px solid #9DBDC9;
	border-radius: 20px;
}
.listiing_title7{
	min-height: 150px;
	background: #9EC6DB;
	border: 2px solid #9DBDC9;
	border-radius: 20px;
}
.listiing_title8{
	min-height: 250px;
	background: #9EC6DB;
	border: 2px solid #9DBDC9;
	border-radius: 20px;
}
// .price, button{
// 	width: 280px;
// }
//mnp9.jpg