.home_image{
  //width: 100%;
  height: 750px;
  // margin: 0;
  //http://s3-us-west-2.amazonaws.com/saidmfola/listings/uploads/000/000/005/large/mnp-h3.jpg?1404252195
  background: url('https://s3.amazonaws.com/inventivelabs/imgs/slider_image_3456.jpg') no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute; 
  overflow: hidden;
  //position: relative;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto;
  margin-top: -155px;
  .search_home{
    width: 100%;
    margin-top: 25%;
    //background: #C7DAED;
    // background: linear-gradient(200deg, rgba(22,33,6,0) 0%, rgba(135, 195, 224, 0.9) 100%);
    background: linear-gradient(200deg, rgba(22,33,6,0) 0%, rgba(84, 173, 216, 0.9) 100%);
    box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
    border-radius: 15px;
    padding: 10%;
    padding-top: 30px;
    // padding-botom: 20px;
    .looking{
      color: #fff;
      font-weight: 900;
      font-size: 35px;
      text-align: center;
      .fa{
        margin-right: 10px;
        color: #68b9ea;
      }
    }
    input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
      height: 3.5rem;
    }
    .postfix.button {
      height: 3.5rem;
    }
  }
  .form_search{
    margin-top: 20px;
    padding-top: 30px;
    // padding-bottom: 30px
    
  }
 

}
.list-page{
  height: 100%;
  margin-bottom: 100px;
}

.wrap{
  position: relative;
  margin-top: 600px;
}

.listing_main{
	border: 2px solid #DAE0DE;
	background: #FCFFFE;
	margin-bottom: 40px;
	border-radius: 5px;
}

.listing_list img{
	width: 100%;
	height: 180px;
}
.list_all h4{
	height: 40px;
}
.looking{
	color: #559BAB;
	font-size: 1.3em;
}
.tabs{
	border-bottom: 2px solid #DAE0DE;
}
.price{
	width: 300px;
}
.title, li{
	
	margin-right: 40px;
}
.title, h3{
	color: green;	
}
.info{
	width: 600px;
}
.thead{
	width: 150px;
}
.expand{
	width: 280px;
}
.list_all{
	width: 100%;
	max-height: 550px;
	position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: 0;
  margin-top: 40px;
 }
// #map_list{
// 	margin: 0;
// 	padding: 0;
// }
// .list_wrapper{
// 	// width: 100%;
// 	// max-height: 550px;
// 	// float: right;
// 	overflow: auto;
// }
section{
	margin-top: -40px;
	top: 0;
}

.panel{
  height: 100%;
  width: 100%;
  display: inline-block;
  background: #9EC6DB;
  border: 2px solid #9DBDC9;
  border-radius: 20px;
  .form-field{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.tabs-content{
  img{
    width: 100%;
  }
}
// .price, button{
// 	width: 280px;
// }
//mnp9.jpg