// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation";

.user_main{
	width: 100%;
	border: 2px solid #DAE0DE;
	background: #FCFFFE;
	margin-bottom: 40px;
	border-radius: 5px;
	h2{
		text-align: center;
		padding: 15px;
	}
}
.tabs{
	border-bottom: 2px solid #DAE0DE;
}

.profile{
	border: 2px solid #DAE0DE;
	background: #FCFFFE;
	margin-bottom: 40px;
	border-radius: 5px;
}
.user_profile{
	width: 750px;
}
.user_profile2{
	width: 750px;
}


