<footer>

<div class='row foot'>
<div class="row">
<div class="medium-6 columns">
  	<div class='copy'><span>&copy; 2014 Lister.</span> All rights reserved. Developed By <a href = "http://maadan.me" target="_blank">Said Maadan</a></div></div>
  <div class="medium-3 columns copy">
  	
  </div>
  <div class="medium-3 columns">
  <div class='social'>
	  <a href = "https://linkedin.com/in/saidmaadan" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
	  <a href = "https://facebook.com/saidmaadan" target="_blank"><i class="fa fa-facebook fa-2x"></i></a> 
		<a href = "https://github.com/saidmaadan" target="_blank"><i class="fa fa-github fa-2x"></i></a>
		<a href = "https://twitter.com/saidmaadan" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
		<a href = "https://youtube.com/saidmaadan" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
		<a href = "https://dribbble.com/saidmaadan" target="_blank"><i class="fa fa-dribbble fa-2x"></i></a>
		<a href = "https://plus.google.com/+SaidMaadan" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
	</div></div>

  
<!-- <div class='medium-3 columns'></div>
<div class='medium-3 columns'></div>
<div class='medium-3 columns'></div> -->
<!-- <div class='medium-3 columns'>
	<h3>ABOUT</h3>
	Moving from one to another should not be a big deal. We've done all the work for you. Lister is a community of
	Real Estate for owners, agency and renter. Our mission is to empower every member with most authentic property information and the best tools available
</div> -->
	
</div>
</footer>